:root{
    /*color status*/
    --color-current: #2db038;
    --color-completed: #26448f;
    --color-onhold: #f1c83e;
    --color-dropped: #a12f31;
    --color-plantowatch: #c3c3c3;

    --reduction-size-image: 1;
}
body{
    font-size: calc(11px * var(--reduction-size-image));
}

.list-block {
  --height-img: calc(272px*var(--reduction-size-image)) !important;
  --width-img: calc(192px*var(--reduction-size-image)) !important;
}

.list-table tbody.list-item {
    height: calc(var(--height-img) + 6.8em) !important;
}

.data.title .link {
    height: 2.6em !important;
    padding: -5px !important;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000 !important;
    top: calc(var(--height-img) + 25px);
    width: calc((var(--width-img)) - 1.5em) !important;
    left: 9px;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2em !important;
}
.data.title {
    z-index: 1;
}
.data.image {
    top: 0;
    z-index: 0;
}

.data.status {
    top: calc(var(--height-img) + 2.5px);
    height: var(--height-bottom-section);
    left: 1px;
    width: calc(var(--width-img) + 3px) !important;
}
.data.number {
    top: 0;
    left: 5px;
    z-index: 1;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
.data.type, .data.rated {
    position: absolute;
    left: calc(var(--width-img) - 44px);
    z-index: 1;
    top: 2px;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
    text-align: right !important;
    width: 43px;
}
.data.type::before{
    content: none;
}
.add-edit-more {
    top: calc(var(--height-img) + 2.5px);
    left: 2px;
}
.anime .data.score {
    left: calc(var(--width-img) * 0.4);
    z-index: 1;
    top: calc(var(--height-img) + 3px);
}
.data.progress, .data.chapter, .data.volume {
    top: calc(var(--height-img) + 3px);
    z-index: 1;
    width: var(--width-img);
    float: right;
    left: 0;
}
.data.progress > * {
    float: right;
}
.data.title .icon-watch2 {
    top: calc(var(--height-img) - 20px);
    left: 4px;
    width: 20px;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}

.list-table tbody.list-item {
    width: calc(var(--width-img) + 4.8px);
}
.list-table .list-table-data .data.tags {
    word-wrap: break-word;
    display: none;
}
.data.title .notes {
    text-align: left;
    width: 100% !important;
    display: none;
}
.data.title::after {
    visibility: hidden;
}    
tr.more-info {
    left: 0;
    height: calc(var(--height-img) + 4px);
}



/*status framework*/
.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status.watching ~ .data.image {
    border: var(--color-current) 2px solid !important;
}
.list-table .list-table-data .data.status.completed ~ .data.image {
    border: var(--color-completed) 2px solid !important; 
}
.list-table .list-table-data .data.status.onhold ~ .data.image {
    border: var(--color-onhold) 2px solid !important; 
}
.list-table .list-table-data .data.status.dropped ~ .data.image {
    border: var(--color-dropped) 2px solid !important; 
}
.list-table .list-table-data .data.status.plantoread, .list-table .list-table-data .data.status.plantowatch ~ .data.image {
    border: var(--color-plantowatch) 2px solid !important; 
}