:root {
    /*color status*/
    --color-current: #2db038;
    --color-completed: #26448f;
    --color-onhold: #f1c83e;
    --color-dropped: #a12f31;
    --color-plantowatch: #c3c3c3;

    /*interface size proposal (1 = default - 1 > 0 = little - 1 < = big) !no unit!*/
    --interface-size-proposal: 1;
}
html, body {
    font-size: calc(11px * var(--interface-size-proposal));
}
/*background image*/
body.ownlist.anime {
    background-color: dimgrey;
    background-size: cover;
    background-position: 90% top !important;
}
/*defined size for image*/
.list-block {
  --height-img: calc(272px*var(--interface-size-proposal)) !important;
  --width-img: calc(192px*var(--interface-size-proposal)) !important;
}
/*defined size for item*/
.list-table tbody.list-item {
    height: calc(var(--height-img)*1.42);
}





/*title*/
.data.title {
    z-index: 1;
}
.data.title .link {
    width: calc((var(--width-img)) - 1.5em) !important;
    height: 9% !important;
    left: 9px;
    top: calc(var(--height-img) + 2.272727272727273em * 2);
    padding: -5px !important;
    font-size: 1.2em !important;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000 !important;
}
/*image*/
.data.image {
    z-index: 0;
    height: auto;
    top: 0;
}
/*status*/
.data.status {
    width: auto;
    height: auto;
    left: 0;    
    top: var(--height-img);
}
/*number*/
.data.number {
    z-index: 1;
    left: 5px;
    top: 0;
    line-height: 1.5em;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
/*type*/
.data.type, .data.rated {
    z-index: 1;
    position: absolute;
    width: 43px;
    left: calc(var(--width-img) - 44px);
    top: 2px;
    text-align: right !important;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
.data.type::before {
    content: none;
}
/*edit and more*/
.add-edit-more {
    left: 2px;
    top: calc(var(--height-img) + 0.22727272727272727em);
    font-size: 0.9em;
}
.add-edit-more span:first-child a::before, .add-edit-more .more a::before {
    font-size: calc(14px*var(--interface-size-proposal));
}
.add-edit-more { /*dash in the div....*/
    visibility: hidden;
}
.add-edit-more > * {
    visibility: visible;
}
/*defined size for more open*/
tr.more-info {
    height: calc(var(--height-img) + 4px);
    left: 0;
    font-size: 1.12em;
}
/*score*/
.anime .data.score, .manga .data.score {
    z-index: 2;
    left: calc(var(--width-img) * 0.4);
    top: calc(var(--height-img) + 3px);
}
.data.score a::before {
    padding-top: min(1.5%, 0.8em);
    font-size: calc(14px*var(--interface-size-proposal));
}
.manga .data.score {
    right: 0;
}
/*progress*/
.data.progress, .data.chapter, .data.volume {
    z-index: 1;
    width: var(--width-img);
    left: 0;
    top: calc(var(--height-img) + 3px);
    float: right;
}
.data.progress>*, .data.chapter>*, .data.volume>*{
    float: right;
}
.data.progress span:first-child::before, .data.chapter span:first-child::before, .data.volume span:first-child::before {
    padding-top: min(1.5%, 0.8em);
    font-size: calc(14px*var(--interface-size-proposal));
}
.data.chapter{
    top: calc(var(--height-img) + 23px*var(--interface-size-proposal)) !important;
}
/*streaming*/
.data.title .icon-watch2 {
    width: 20px;
    left: 0.36363636363636365em;
    top: calc(var(--height-img) - 1.8181818181818181em);
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
.icon-watch2 .malicon.malicon-movie-episode, .icon-watch2 .malicon.malicon-movie-pv, .icon-watch2 .malicon.malicon-streaming, .icon-watch-pv2 .malicon.malicon-movie-episode, .icon-watch-pv2 .malicon.malicon-movie-pv, .icon-watch-pv2 .malicon.malicon-streaming {
    font-size: 1.3636363636363635em;
}
.data.priority {
    z-index: 1;
    position: absolute;
    width: var(--width-img);
    left: 0;
    top: 0;
    text-align: right !important;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
/*hidden overflow and notes*/
.list-table tbody.list-item {
    width: calc(var(--width-img) + 4px);
}
.list-table .list-table-data .data.tags {
    display: none;
}
.data.title .notes {
    display: none;
}
.data.title::after {
    visibility: hidden;
}



/*status framework*/
.list-table .list-table-data .data.status.reading ~ .data.image, .list-table .list-table-data .data.status.watching ~ .data.image {
    border: var(--color-current) 2px solid !important;
}
.list-table .list-table-data .data.status.completed ~ .data.image {
    border: var(--color-completed) 2px solid !important; 
}
.list-table .list-table-data .data.status.onhold ~ .data.image {
    border: var(--color-onhold) 2px solid !important; 
}
.list-table .list-table-data .data.status.dropped ~ .data.image {
    border: var(--color-dropped) 2px solid !important; 
}
.list-table .list-table-data .data.status.plantoread ~ .data.image, .list-table .list-table-data .data.status.plantowatch ~ .data.image {
    border: var(--color-plantowatch) 2px solid !important; 
}
