:root{
    /*color status*/
    --color-current: #2db038;
    --color-completed: #26448f;
    --color-onhold: #f1c83e;
    --color-dropped: #a12f31;
    --color-plantowatch: #c3c3c3;

    /*interface size proposal (1 = default - 1 > 0 = little - 1 < = big) !no unit!*/
    --interface-size-proposal: 1;
}
body{
    font-size: calc(11px * var(--interface-size-proposal));
}
/*background image*/
body.ownlist.anime{
    background-color: dimgrey;
    background-size: cover;
    background-position: 90% top !important;
}
/*defined size for image*/
.list-block {
  --height-img: calc(272px*var(--interface-size-proposal)) !important;
  --width-img: calc(192px*var(--interface-size-proposal)) !important;
}
/*defined size for item*/
.list-table tbody.list-item {
    height: calc(var(--height-img) + 6.8em) !important;
}



/*title*/
.data.title {
    z-index: 1;
}
.data.title .link {
    width: calc((var(--width-img)) - 1.5em) !important;
    height: 2.6em !important;
    left: 9px;
    top: calc(var(--height-img) + 25px);
    padding: -5px !important;
    font-size: 1.2em !important;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000 !important;
}
/*image*/
.data.image {
    z-index: 0;
    top: 0;
}
/*status*/
.data.status {
    width: calc(var(--width-img) + 3px) !important;
    height: var(--height-bottom-section);
    left: 1px;    
    top: calc(var(--height-img) + 2.5px);
}
/*number*/
.data.number {
    z-index: 1;
    left: 5px;
    top: 0;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
/*type*/
.data.type, .data.rated {
    z-index: 1;
    position: absolute;
    width: 43px;
    left: calc(var(--width-img) - 44px);
    top: 2px;
    text-align: right !important;
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
.data.type::before{
    content: none;
}
/*edit and more*/
.add-edit-more {
    left: 2px;
    top: calc(var(--height-img) + 2.5px);
}
/*defined size for more open*/
tr.more-info {
    height: calc(var(--height-img) + 4px);
    left: 0;
}
/*score*/
.anime .data.score {
    z-index: 1;
    left: calc(var(--width-img) * 0.4);
    top: calc(var(--height-img) + 3px);
}
/*progress*/
.data.progress, .data.chapter, .data.volume {
    z-index: 1;
    width: var(--width-img);
    left: 0;
    top: calc(var(--height-img) + 3px);
    float: right;
}
.data.progress > * {
    float: right;
}
/*streaming*/
.data.title .icon-watch2 {
    width: 20px;
    left: 4px;
    top: calc(var(--height-img) - 20px);
    text-shadow: 0 0 2px #000,0 0 1px #000,1px 1px 7px #000,0 0 0 #000;
}
/*hidden overflow and notes*/
.list-table tbody.list-item {
    width: calc(var(--width-img) + 4.8px);
}
.list-table .list-table-data .data.tags {
    display: none;
}
.data.title .notes {
    display: none;
}
.data.title::after {
    visibility: hidden;
}



/*status framework*/
.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status.watching ~ .data.image {
    border: var(--color-current) 2px solid !important;
}
.list-table .list-table-data .data.status.completed ~ .data.image {
    border: var(--color-completed) 2px solid !important; 
}
.list-table .list-table-data .data.status.onhold ~ .data.image {
    border: var(--color-onhold) 2px solid !important; 
}
.list-table .list-table-data .data.status.dropped ~ .data.image {
    border: var(--color-dropped) 2px solid !important; 
}
.list-table .list-table-data .data.status.plantoread, .list-table .list-table-data .data.status.plantowatch ~ .data.image {
    border: var(--color-plantowatch) 2px solid !important; 
}